@import '../../../assets/styles/variables.scss';

.skills_block {
    max-width: 806px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-self: start;
    background-color: $white;
    border-radius: 10px;
    gap: 15px;

    &__title {
        text-align: start;
        color: $header;
        font-size: 20px;
        line-height: 21px;

        @media screen and (max-width: 760px) {
            font-size: 16px;
        }
    }

    &__skills_wrapper {
        gap: 10px;
        flex-wrap: wrap;
        display: flex;
    }

    &__skill {
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid $border;
        font-weight: 400;
        font-size: 14px;
        line-height: 16.41px;
        color: $text;
    }
}

