.history_item {
    padding: 25px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    max-width: 509px;
    position: relative;
    margin-top: 20px;
}

