@import '../../../assets/styles/variables';

.vacancy_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 23.7px;
        text-align: left;

        color: $header;
        margin-bottom: 25px;
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        &_title {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 23.7px;
            text-align: left;

            color: $header;
        }

        &_value {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 23.7px;
            text-align: left;

            color: $text;
        }
    }

    &__card_wrapper {
        background-color: $white;
        padding: 20px 40px;
        border-radius: 10px;
        max-width: 658px;
        min-width: 658px;

        min-height: 211px;

        &__content {
            display: flex;
            flex-direction: column;
        }

        &__element {
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;
            text-align: left;
            color: $header;
        }
    }
}

