@import '../../assets/styles/variables.scss';

.container {
    display: flex;
    padding-top: 20px;
    gap: 20px;
    flex-direction: column;
    &__wrapper_answered_by {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 24px;
    }

    &__wrapper_line {
        display: flex;
        gap: 5px;
    }

    &__wrapper_right {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    &__wrapper_left {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__line {
        height: 20px;
        width: 100%;
        background-color: $purple;
    }

    &__card {
        width: 37%;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__card_head {
        align-items: center;
        display: flex;
        gap: 10px;
    }

    &__img {
        height: 58px;
        width: 58px;
    }

    &__wrapper_card_title {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
        line-height: 18.96px;
        text-align: left;
        color: $header;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.96px;
        text-align: left;
        color: $text;
        white-space: nowrap;
    }

    &__wrapper {
        background-color: $white;
        border-radius: 10px;
        padding: 20px;
    }

    &__wrapper_radio {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__input_text {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 18.75px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__input_text_req {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        flex-wrap: nowrap;
        display: flex;
        line-height: 18.75px;
        white-space: nowrap;
    }

    &__input_textmini {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 18.75px;
        color: $text;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

