@import '../../../assets/styles/variables.scss';

.practice_card {
    width: 466px;
    max-width: 466px;
    padding: 20px 21px;
    background: $white;
    border-radius: 10px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &__container {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    &__title_and_status {
        width: inherit;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
        }
    }

    &__title {
        color: $purple;
        font-size: 20px;
        font-weight: 500;

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__status {
        border-radius: 24px;
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 500;
        color: $white;
    }

    &__created_and_deadline {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__row {
        display: flex;
        gap: 5px;

        &_label,
        &_value {
            font-size: 16px;
            font-weight: 400;
            line-height: 18.96px;
            text-align: left;

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }
        }

        &_label {
            color: $header;
        }

        &_value {
            color: $text;
        }
    }

    &__count {
        margin-top: 15px;
    }
}

