@import '../../../assets/styles/variables.scss';

.tabContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tab,
.activeTab {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 29.63px;
    text-align: left;

    background: none;
    border: none;
    cursor: pointer;
}

.tab {
    color: $header;
}

.activeTab {
    color: $purple;
}

.separator {
    width: 1px;
    height: 29px;
    background-color: $header;
}

.alternative .tab {
    color: $purple;
}

.alternative .activeTab {
    color: $purple;
}

.alternative .separator {
    width: 1px;
    height: 29px;
    background-color: $header;
    transform: rotate(30deg);
}
.alternative .tab {
    font-size: 25px;
    font-weight: 500;
    color: #8a8a8a;
    line-height: 29.63px;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
        color: $header;
    }
}
.alternative .activeTab {
    color: $header;
    line-height: 29.63px;
    font-size: 25px;
}

