.sidebar {
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__navLink {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__navLink_main {
        display: flex;
        flex-direction: column;
        padding-top: 45px;
        gap: 15px;
    }

    &__navLink_main_bold {
        display: flex;
        align-items: center;
        padding: 10px;
        color: black;
        justify-content: space-between;
        width: 100%;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.96px;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
    }

    &__navLink_text {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.96px;
        text-align: left;
        letter-spacing: 0.5px;
    }
}

