@import '../../../assets/styles/variables.scss';

.appeal_navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

