@import '../../../assets/styles/variables.scss';

.wrapper {
    .label_text {
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        text-align: left;
        color: $text;
    }

    .label {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
    }

    .textarea {
        width: 100%;
        border-radius: 5px;
        height: 80px;
        padding: 10px;
        border: 1px solid $border;
        outline: none;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        text-align: left;
        color: $header;

        resize: none;

        &::placeholder {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;
            text-align: left;
            color: $border;
        }

        &__error {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 18.75px;
            text-align: left;
            color: $red;
        }
    }

    .textarea.textarea__error {
        border: 1px solid $red;
    }
}

