@import '../../../assets/styles/variables.scss';

.survey_card {
    width: 466px;
    max-width: 466px;
    padding: 20px 21px;
    background: $white;
    border-radius: 10px;

    &__count {
        padding-top: 15px;
    }

    &__container {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    &__title_and_status {
        width: inherit;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: $purple;
        font-size: 20px;
        text-decoration: none;
        font-weight: 500;
    }

    &__status {
        border-radius: 24px;
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 500;
    }

    &__created_and_deadline {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__row {
        display: flex;
        gap: 5px;

        &_label,
        &_value {
            font-size: 16px;
            font-weight: 400;
            line-height: 18.96px;
            text-align: left;
        }

        &_label {
            color: $header;
        }

        &_value {
            color: $text;
        }
    }
}

@media (max-width: 1200px) {
    .survey_card {
        width: 100%;
        max-width: none;
    }
}

