@import '../../../assets/styles/variables';

.wrapper_authors_notifications {
    width: 90%;
}

.authors_notifications {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
        margin-bottom: 20px;
    }
}

.notification_avatar_and_data {
    display: flex;
}

.notification_avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.notification_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 61px;
}

.notification_author_name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #3c4852;

    @media (max-width: 500px) {
        font-size: 14px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        // max-height: 48px;
    }
}

.notification_message,
.notification_message_long {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $text;

    @media (max-width: 500px) {
        font-size: 14px;

        overflow-x: hidden;
        text-overflow: ellipsis;
        // max-height: 48px;
    }
}

.notification_message_time,
.notification_message_time__seen {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $purple;
}

.notification_message_time__seen {
    color: #a9aeb2;
}

