@import '../../../assets/styles/variables';

.wrapper_autors_notifications .autors_notifications {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-left: 11px;

    &:last-child {
        margin-bottom: 20px;
    }
}

.notification_avatar_and_data {
    display: flex;
}

.notification_avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.notification_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 61px;
    margin-left: 14px;
    margin-top: -3px;
}

.notification_autor_name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #3c4852;

    @media (max-width: 500px) {
        font-size: 14px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        max-height: 48px;
    }
}

.notification_message,
.notification_message_long {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $text;

    @media (max-width: 500px) {
        font-size: 14px;

        overflow-x: hidden;
        text-overflow: ellipsis;
        max-height: 48px;
    }
}

.notification_message_time,
.notification_message_time__readed {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $purple;
}

.notification_message_time__readed {
    color: #a9aeb2;
}

.dot,
.dot__readed {
    margin-right: 15px;
    width: 12px;
    height: 12px;
}

.dot__readed {
    filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(2538%) hue-rotate(177deg) brightness(98%)
        contrast(85%);
}

.notification_message_long {
    cursor: pointer;
}

