.container {
  padding: 34px 153px;
  overflow-x: scroll;
  background-color: #E3E3F3;
  height: 90.5vh;
  &__mobile{
    --bs-gutter-y: 3rem;
  }

  &__title{
    font-weight: 500;
    font-size: 25px;
    color: black;
    line-height: 29.63px;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}


@media (max-width: 1500px) {
  .container {
    padding: 10px;
  }
}

@media (max-width: 1050px) {
  .container{
    height: 100%;
    padding-top: 80px;
    &__wrapper{
      display: flex;
      flex-direction: column-reverse;
      gap: 50px;
    }

    &__card{
      flex: 0 0 auto;
      width: 100%;
    }
  }
}
