.container {
    overflow-x: scroll;
    background-color: #e3e3f3;

    &__wrapper {
        display: flex;
        gap: 24px;
        margin-top: 50px;
    }

    &__mobile {
        --bs-gutter-y: 3rem;
    }

    &__title {
        font-weight: 500;
        font-size: 25px;
        color: black;
        line-height: 29.63px;
    }

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }
}

