.wrapper {
    padding-top: 30px;
    overflow-x: scroll;
    max-width: 1340px;
    min-width: 1340px;
    margin: 0 auto;
    height: 90vh;

    width: fit-content;

    &__mobile {
        --bs-gutter-y: 3rem;
    }

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }

    @media (max-width: 1660px) {
        min-width: unset;
        .wrapper{
            padding: 30px;
        }
    }
}

@media (max-width: 1660px) {
    .wrapper{
        padding: 30px;
        width: 100%;
    }
}