@import '../../../assets/styles/variables.scss';

.header_block {
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: $white;
    border-radius: 10px;
    gap: 15px;

    &__img {
        height: 80px;
        width: 80px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__name {
        color: $header;
        font-size: 20px;
        line-height: 21px;
    }

    &__profession {
        font-weight: 400;
        font-size: 16px;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
        display: flex;
        line-height: 18.75px;
        color: $header;
    }
}

