@import '../../../assets/styles/variables';

.vacancy_item {
    display: flex;
    flex-direction: column;

    &__title {
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.96px;
        text-align: left;
    }

    &__title_and_status {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__status {
        border-radius: 24px;
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 500;
        color: $white;
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 20px;
        }

        &_label,
        &_value {
            font-size: 16px;

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }

        &_label {
            color: $header;
        }

        &_value {
            color: $text;
        }
    }

    &:not(:last-child) {
        border-bottom: 1px solid $border;
    }
}

