@import '../../../assets/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 38px;
    justify-content: center;

    @media screen and (max-width: 760px) {
        gap: 20px;
    }

    &__backLink {
        align-items: center;
        display: flex;
        gap: 20px;
    }
    &__backLink_btn {
        display: flex;
        border-radius: 20px;
        background-color: $white;
        width: 75px;
        border: none;
        justify-content: center;
        align-items: center;
        height: 29px;
    }
    &__wrap {
        display: flex;
        gap: 28px;

        @media screen and (max-width: 760px) {
            flex-direction: column;
        }
    }

    &__wrapper_left {
        gap: 24px;
        width: 100%;
        max-width: 806px;
        display: flex;
        flex-direction: column;
    }

    &__wrapper {
        gap: 24px;
        width: 100%;
        max-width: 509px;
        display: flex;
        flex-direction: column;
    }

    &__img {
        height: 80px;
        width: 80px;
    }

    &__name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

