@import '../../../../assets/styles/variables.scss';

.question {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input,
    textarea {
        outline: none;
        border: 1px solid $border;

        color: $text;
        font-size: 16px;
        border-radius: 5px;
        padding: 10px;

        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.96px;
        text-align: left;
    }
}

