.survey_navigation{
  display: flex;
  justify-content: space-between;

  &__wrap{
    display: flex;
    gap: 20px;
  }

  &__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    &__title {
      color: black;
      font-size: 25px;
      line-height: 30px;
      font-family: 'Rubik', sans-serif;
      text-decoration: none;
      font-weight: 500;
    }
  }
}

@media (max-width: 1560px) {
  .survey_navigation{

    &__wrap{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}